body {
  background-image: url('wood-pattern.png');
  color: #3b2c1f;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  background-color: #fff8dc;
  border: 5px solid saddlebrown;
  padding: 20px;
  box-shadow: 5px 5px 10px #333;
}

header {
  text-align: center;
  position: relative;
}

.gif-left, .gif-right {
  width: 100px;
  position: absolute;
  top: 10px;
}

.gif-left {
  left: 0;
}

.gif-right {
  right: 0;
}

h1 {
  font-size: 36px;
  color: saddlebrown;
  text-shadow: 1px 1px #e0c097;
}

marquee {
  font-weight: bold;
  color: firebrick;
  margin-top: 10px;
  font-size: 18px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

nav li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #deb887;
  border: 4px double saddlebrown;
  border-image: url('https://i.imgur.com/1Mb7jvQ.png') 30 round; /* Rope-like */
  text-decoration: none;
  color: darkred;
  font-weight: bold;
  font-size: 16px;
}

nav li a:hover {
  background-color: #f5deb3;
  color: darkblue;
}

main {
  padding: 20px;
  text-align: center;
}

.lasso-gif {
  margin-top: 20px;
  width: 200px;
}

footer {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #5a3e2b;
}
